@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body {
        width: 90%;
        height: auto;
        margin:auto
    }
    #box1 {
        padding-right: 20px;
    }
    #box2 {
        padding-right:10px;
        padding-left: 10px;
    }
    #box3 {
        padding-left:20px;
        padding-right: 0;
    }
    .imgdown {
        padding-top:8.5%;
    }
    .bannerimage {
        display: block;
        padding-bottom: 0;
    }
    #menu {
        overflow: hidden;
        background-color:white;
        padding-left:3%;
        padding-right: 3%;
    }
    .banner {
        padding-top: 10px;
        padding-left: 0%;
        padding-right: 0;
        padding-bottom:0;
        position: relative;
        border:none;
    }
    #content {
        position: absolute;
        top: 25%;
        left: 8%;
        color: white
    }
    #content p{
        color:white;
    }
    .col1 h1{
        font-size: 2rem;
    }
    .col2 h1 {
        font-size: 2rem;
    }
    #infomation h1 {
        font-size: 2rem;;
    }
    #infomation {
        background-color: #E4E4E4;
    }
    footer {
        background-color: #F0F0F0;
    }
    
}
