* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
#menu ul {
    list-style-type: none;
}
#menu {
    overflow: hidden;
    background-color: #556270;
}
li a {
    display:block;
    text-decoration: none;
    padding: 10px;
    color:#9da1ac;
}
.col2 a{
    display:block;
    text-decoration: underline;
    margin-top: 20px;
}
.left {
    float:left;
    margin-left: 10px;
}
.right {
    float:right;
    margin-right:10px;
}
.bannerimage {
    display: none ;
}
.banner {
    width: 100%;
    height:auto;
    padding-left:20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom:3px solid rgb(226, 221, 221);
}
.banner p {
    color: grey;
}
.banner h1 {
    font-size: 3.5rem;
}
#infomation {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#infomation p {
    color:grey;
}
#infomation h1 {
    font-size: 3.5rem;;
}
#infotext {
    padding-bottom: 30px;
}
.col1{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

[class*="col-"] {
    width: 100%;
    float:left;
    padding
}
.col2 {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.imgdown {
    padding-top:40px;
}
footer {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}
.col2 p {
    color:grey;
}
.col2 h1{
    font-size: 3rem;
}
.row::after {
    content: "";
    clear: both;
    display: block;
  }

